* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #1d4ed8;
  margin-bottom: 20px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button {
  background-color: #1b6cb7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #185abd;
}

#resultado {
  margin-top: 20px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}
#taxa-info {
  margin-top: 15px;    
  font-size: 18px;
  color: #666;
  
}

#clear {
    
    color: #1b6cb7;
    background-color: transparent;
    padding: 10px 15px;
    margin-top: 20px;
    border: 1px solid #1b6cb7;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    
}

#clear:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.footer {
  background-color: #f8f8f8; /* Cor de fundo clara */
  padding: 20px; /* Espaçamento interno */
  text-align: center; /* Texto centralizado */
  font-size: 14px; /* Tamanho da fonte */
  color: #333; /* Cor do texto */
  border-top: 1px solid #e0e0e0; /* Linha superior sutil */
  position: fixed; /* Fixo na parte inferior */
  bottom: 0; /* Alinhado ao fundo */
  width: 100%; /* Largura total */
  left: 0; /* Alinhado à esquerda */
}

/* Opcional: estilo para links, caso queira adicionar */
.footer a {
  color: #0066cc; /* Cor do link */
  text-decoration: none; /* Remove sublinhado */
}

.footer a:hover {
  text-decoration: underline; /* Sublinhado ao passar o mouse */
}